<p>person-list works!</p>
<div class="tableList">
    <table class="border">
        <tr>

            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>age</th>
            <th colspan="2" style="text-align: center;"> Action</th>
        </tr>
        <tr *ngFor="let listData of person; let i = index">
            <td>{{ i }}</td>
            <td>{{ listData.name}}</td>
            <td>{{  listData.age}}</td>
            <td>{{  listData.gender}}</td>
            <td><button  (click)="edit(i)">Edit</button></td>
            <td><button (click)="deleteData(i)">Delete</button></td>
        </tr>
    </table>
</div>