.container {
  padding: 0.8rem 1rem;
  width: 100%;
  margin-bottom: 0.8rem;
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  &-500 {
    width: 500px;

    @media screen and (max-width: 576px) {
      width: 300px;
    }
  }

  & .border {
    border: 1px solid $border-color;
    border-radius: 0.5rem;
  }
}
