.continer-ng{
    margin: 0 auto;
    list-style-type: none;
    font-style: normal;
    width: 100%;
   
}
.main-heding{
  font-size: 1.8rem;
  text-align: center;
}
.card{
    box-shadow: rgba(19, 18, 18, 0.70) 0px 5px 15px;
    border: 1px solid;
     padding: 10px;
     margin: 2rem;
     width: 45%;
   .heading{
     margin: 0.6rem;
    
  }
  .list{
   margin: 0.2rem 0;
   list-style-type: none;

    
  }

  

}